.clearBtn {
    position: absolute;
    top: 12px;
    right: 40px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('chosen-sprite.png') -42px 1px no-repeat;
    font-size: 1px;
}
.chosen-results .itemselected {
    background-color: #ffa545;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #ffffff;
}

.itemover{
    color: #636363;
    background-color: #ffe7a2;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}